<div class="container pt-4 mt-4 pagination justify-content-center">

  <%= simple_form_for :search, url: profiles_path, method: :get, data: { controller: "search-form" } do |f| %>
    <div class="row">
      <div class="col align-self-enter">
        <%= f.input :username,
          input_html: { value:  params.dig(:search, :username) },
          class: "form-control",
          placeholder: "username",
          #label: "<i class='fas fa-map-marker-alt'></i>".html_safe
        %>
      </div>
    </div>
    <% end %>
</div>

<div class="container ginny-show px-4">
  <ul><% @profiles.each do |profile| %>
    <% if profile.photo.attached?%>
        <%= cl_image_tag profile.photo.key, class: "avatar-xxl mb-3", width: 200 %>
      <% end %>
    <li><h1><%= link_to "#{profile.username }", profile_path(profile) %></h1></li>
  <% end %>
  </ul>
</div>



