// Define variables for your color scheme

// For example:
$red: #8F1B1B;
$burgundy: #470700;
$blue: #167FFB;
$green: #486A66;
$light-green: #B8D3C7;
$dark-grey: #777777;
$grey: #C4C4C4;
$light-grey: #E5E5E5;
$lighter-grey: #DADADA;
$pink: #F5EEE9;
// $pink: #F5EDE8;
$light-pink: #FDFBF9;



$icon-yellow: #DDB567;
$icon-orange: #E2976F;
$icon-green: #51A195;
$icon-camel: #C98B56;

$fav-red: #C5313A;

$tag-yellow: #DDB567;
$tag-grey: #E5E5E5;
$tag-light-pink: #EBD5C6;
$tag-pink: #E4CBC5;
$tag-marroon: #B56E59;
$tag-green: #B8D3C7;
$tag-orange: #E2976F;
$tag-blue-grey: #82BBC4;



$logo-color: #8F371B;

.logo-color{
  color: $logo-color;
}

.black-color {
  color: black;
}

.light-grey-color{
  color: $light-grey;
}

.red-color {
  color: $fav-red !important;
}

.bg-light-pink {
  background-color: #FDFBF9;
}
