h1 {
  font-family: Staatliches;
  font-size: 2rem;
  line-height: 24px;
  color: $burgundy;
}

h2 {
  font-family: Domine;
  font-size: 2rem;
  line-height: 27px;
  text-align: center;
  color: $red;
}

h3 {
  font-family:  Domine!important;
  font-size: 0.8rem;
  line-height: 27px;
  color: $red;
  .h3 {
    font-size: 1rem;
  }
}

h4 {
  font-family: Domine!important;
  font-size: 1.2rem;
  color: black;
}

h5 {
  color: black;
}

p {
  color:#000000;
  font-family: 'Domine';
  font-size: 0.8rem
}

a {
  color: #000000 !important;
  text-decoration: none !important;
  &:hover {
    color: #000000 !important;
    text-decoration: none !important;
  }
}

.light-text a {
  font-size: 1rem;
  color: $dark-grey !important;
  &:hover {
    color: $burgundy !important;
  }
}

ul {
  list-style-type: none;
  padding-left: 0
}

.black-color {
  color: black;
}

.smaller-text {
  font-size: 12px;
}
