.ginny-show {
  height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-bottom: 75px;
}

#profiles-index .ginny-show {
  height: auto;
}
