#new_user {
  .form-control{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: $pink;
    border-bottom: 1px solid #000000;
    color: black;
    border-radius: 0px;
  }

  label{
    color: #000000;
  }
}
