<div class="container bg-white">
  <div class="row d-flex justify-content-center box-bordered py-4 px-5">
    <>Ajouter une recommandation</h4>
  </div>
  <div class="row no-gutters d-flex justify-content-center box-bordered py-4">
    <%= simple_form_for [@doctor, @recommendation] do |f| %>
      <%= f.input :tags,
            as: :check_boxes,
            collection: Tag.all_names,
            wrapper_html: { class: "tag-list" },
            input_html: { class: "form-control tag-selector" },
            required: false,
            label: "Selectionner des tags" %>
      <%= f.association :badges,
            label: "Selectionner des badges",
            as: :check_boxes,
            input_html: { class: "form-control badge-selector" },
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'badge-wrapper',
            required: false,
            label_method: lambda { |badge| render 'badges/picto', badge: badge } %>
      <div class="d-flex justify-content-center">
        <%= f.submit :Valider, class: "button-main my-4"%>
      </div>
    <% end %>
  </div>
</div>
