<div >
  <div class="badge-list">
    <div class="badge-card">
      <div class="my-badge">
        <%= image_tag "badges/#{badge.name}.jpg", size: 60 %>
      </div>
      <p><%= badge.name.capitalize %></p>
    </div>
  </div>
  <%# <%= image_tag "badges/#{badge.name}.jpg", size: 60 %>
  <%# <%= badge.name %>
</div>