<%# <li class="nav-item active"> %>
  <%#= link_to "Home", "#", class: "nav-link" %>
<%# </li> %>
<%# <li class="nav-item">
  <a href="#" data-toggle="modal" data-target="#exampleModal" class="nav-link">
    <i class="fas fa-plus-circle reco-button"></i>
  </a>
</li> %>
<div class="py-4 px-5 d-flex align-items-center justify-content-between position-fixed w-100" style="z-index: 10; bottom: 0; background-color: #F7F1ED;">
  <a href="#" data-toggle="modal" data-target="#exampleModal" class="nav-link p-0">
    <i class="fas fa-plus-circle" style="font-size: 30px; color: #470700;"></i>
  </a>
  <%= link_to search_path do %>
    <i class="fas fa-search" style="font-size: 30px; color: #470700;"></i>
  <% end %>
  <i class="fab fa-readme" style="font-size: 30px; color: #470700;"></i>
  <%= link_to profiles_path do %>
    <i class="fas fa-users" style="font-size: 30px; color: #470700;"></i>
  <% end %>
</div>

  <%# <%= link_to "<i class='fas fa-search' style='font-size: 30px; color: 470700;'".html_safe, search_path %>
