<%= cl_image_tag current_user.photo.key, class: "avatar-xxl", width: 200 %>
<h1><%= current_user.username %></h1>
<%# <%= current_user.avatar %>

<p>x recommandations</p>
<p>x amis</p>


<h3>Soignants sauvgardés</h3>
<hr>
<h3>Mes filtres</h3>
<hr>

<%= link_to 'Edit', edit_user_registration_path%>
