<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="button-slider">
  <p>Audio settings:</p>

    <input type="range" class="slider"
          min="0" max="10" step="1">

</div>
