<div class="marker-window">
  <h4><%= doctor.first_name.capitalize %>  <%= doctor.last_name.capitalize %></h2>
  <p class="street"><%= doctor.street %></p>
  <p class="city"><%= doctor.city %></p>
</div>
