
.badge-list {

  display: flex;
  flex-wrap: wrap;
  padding-top: 4px;

  .badge-card {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .my-badge {
  //   STRUCTURE
  //   <div class="badge">
  //     <div class="counter">
  //       2324 
  //     </div>
  //    </div>
    padding: 4px;
    position:relative;

    img {
      border-radius: 50%;
    }
    .counter {
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: $red;
      font-size: 11px;
      text-align: center;
      line-height: 20px;
      position: absolute;
      right: -2px;
      bottom: 43px;
      }
    }

    p {
      font-size: 0.8rem;
      padding-top: 8px;
    }
  }
}
