#dashboard {
  position: fixed;
  right: 0;
  z-index: 10;
  background-color: $pink;
  height: calc(100vh - 66px);
  padding: 106px 16px 0px 16px;
  width: 33%;
  transition: all 0.5s ease;
  &.hidden {
    margin-right: -100%;
  }
}
