.doctor-card {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  position: relative;

  padding-top: 20px;
  h4 {
    margin-bottom: 4px ;
    font-family: "Staatliches";
    color: black;
  }


  .doctor-card-text {
    flex-grow: 1;

    p {
      margin-bottom: 0px;
      font-size: 12px;
      margin-right: 4px;
    }
  }

  .doctor-card-tag {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    i {
      color: $red;
      font-size: 30px;
    }

    .tag {
     margin-top: auto;
     font-size: 0.8rem;
     min-width: 80px;

    }
  }
}

