.doctor-card {
  display: flex;
  justify-content: space-between;
  padding: 12px 40px;
  position: relative;

  .doctor-card-text {
    flex-grow: 1;
    h4 {
      font-size: 14px;
    }

    p {
      margin-bottom: -5px;
      font-size: 12px;
      margin-right: 4px;
    }
  }

  .tag {
   margin-top: auto;
   font-size: 11px;
   margin-right: -12px;;
   width: auto;
   min-width: 80px;
  }
}
