// Convention

// .convention-item {
//   // width: max-content;
// }

.convention-selector {
  position: absolute;
  transform: scale(0);
}

.convention-selector + label {
  color: white;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  margin: 4px;
  background-color: gray;
}

.convention-selector:checked + label {
  color: black !important;
  background-color: $tag-blue-grey;
}


// Tags

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag-selector + label {
  color: #1f1f1f;
  padding: 13px 10px;
  border-radius: 5px;
  margin: 4px;
  background-color: rgba(200, 200, 200, 0.2);
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  z-index: 99;
   &:before {
    content: "";
    border-radius: 5px;
    padding: 20px 17px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
  }
}

// .tag-selector:not(:checked) + label {
//   color: red;
// }

label[for="search_tags_endométriose"]::before {
  width: 100%;
}

.tag-selector:checked + label[for="search_tags_endométriose"]::before {
  color: black !important;
  background-color: $tag-marroon !important;
}

label[for="search_tags_ivg-friendly"]::before {
  // width: 90px;
  width: 100%;
  // margin-left: -10px;
}

label[for="recommendation_tags_ivg-friendly"]::before {
  // width: 90px;
  // margin-left: -10px;
}

.tag-selector:checked + label[for="recommendation_tags_ivg-friendly"]::before {
  background-color: $tag-yellow;
}

.tag-selector:checked + label[for="search_tags_ivg-friendly"]::before {
  background-color: $tag-yellow !important;
}

label[for="search_tags_diu"]::before {
  // width: 40px;
  width: 100%;
  // margin-left: -10px;
}

.tag-selector:checked + label[for="search_tags_diu"]::before {
  background-color: $tag-grey !important;
}

label[for="search_tags_lgbt"]::before {
  // width: 52px;
  width: 100%;
  // margin-left: -10px;
}

.tag-selector:checked + label[for="search_tags_lgbt"]::before {
  background-color: $tag-pink !important;
}

label[for="search_profession_généraliste"]::before {
  // width: 80px;
  width: 100%;
  // margin-left: -10px;
}

.tag-selector:checked + label[for="search_profession_généraliste"]::before {
  background-color: $tag-green !important;
}

label[for="search_profession_gynécologue"]::before {
  // width: 80px;
  width: 100%;
  // margin-left: -10px;
}

.tag-selector:checked + label[for="search_profession_gynécologue"]::before {
  background-color: $tag-yellow;
}

label[for="search_profession_sage-femme"]::before {
  // width: 80px;
  width: 100%;
  // margin-left: -10px;
}

.tag-selector:checked + label[for="search_profession_sage-femme"]::before {
  background-color: $tag-orange !important;
}

label[for="search_gender_femme"]::before {
  // width: 62px;
  // margin-left: -10px;
  width: 100%;
}

.tag-selector:checked + label[for="search_gender_femme"]::before {
  background-color: $tag-blue-grey
}


label[for="search_gender_homme"]::before {
  // width: 62px;
  // margin-left: -10px;
  width: 100%;
}

.tag-selector:checked + label[for="search_gender_homme"]::before {
  background-color: $tag-blue-grey
}

// Bagdges


.badge-selector {
  position: absolute;
  transform: scale(0);
}

.badge-list {
  display: flex;
}

.badge-card {
  width: 30%;
}

.badge-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  color: black;
}
.badge-selector:not(:checked) + label {
  filter: grayscale(100%);
  color: $dark-grey;
}

.badge-card label {
  position: relative;
  padding-top: 140px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 8px;
  margin-top: 50px;

  &:before {
    content: "";
    height: 60px;
    width: 60px;
    // padding: 8px;
    border-radius: 50px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

label[for="search_badges_ecoute"]::before {
    background-image: asset-url('badges/ecoute.jpg');
    background-size: contain;
    background-repeat: no-repeat;

}
label[for="search_badges_empathie"]::before {
    background-image: asset-url('badges/empathie.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
label[for="search_badges_pedagogie"]::before {
    background-image: asset-url('badges/pedagogie.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.badge-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
