.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-canvas {
  width: 100% !important;
}

#doctors-index .map-container {
  position: sticky;
    height: 300px;
    top: 71px;
    z-index: 1;
}
