.error-message {
  color: $red;
}

.modal-header {
  flex-direction: column;
  border-bottom: none;
  align-items: center;
}

#recommendationModal {
  .modal-title {
    text-align: center;
  }
  .modal-footer {
    display: inline;
    label {
      font-size: 0.9rem;
      color: black;
      margin-bottom: 0;
      }
    }
    .button-main {
      margin: 15px auto;
      line-height: 46px;
    }
  }
  .form-group {
    .form-control {
      width: 255px;
    }
  }
}
 