.navbar-lewagon {
  justify-content: space-between;
  background: #F7F1ED;
  z-index: 10;
  height: 71px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.logo {
   a {
  color: #470700;
  }

}

.reco-button {
  color: $burgundy;
}


#doctors-index .navbar-lewagon {
  position: sticky;
  top: 0;
}

#doctors-show .navbar-lewagon {
  position: sticky;
  top: 0;
}

