#form-banner {
  display: flex;
  width: 67%;
  padding: 24px 16px;
  justify-content: center;
  .form-inline {
    position: relative;
    .btn {
      position: absolute;
      right: 10px;
      background: white;
      padding: 0px;
    }
  }
}

#home-search {
  .form-inline {
    position: relative;
    .btn {
      position: absolute;
      right: 10px;
      background: white;
      color: black;
      padding: 0px;
      height: unset
    }
  }
}

.form-control {
  border-radius: 8px;
  border: 2px solid #6D503B;
  flex-flow: row wrap;
}
