
// #form-banner {
//   display: flex;
//   width: 67%;
//   padding: 24px 16px;
//   justify-content: center;
//   .form-inline {
//     position: relative;
//     .btn {
//       position: absolute;
//       right: 10px;
//       background: white;
//       padding: 0px;
//     }
//   }
// }

// #home-search {
//   .form-inline {
//     position: relative;
//     .btn {
//       position: absolute;
//       right: 10px;
//       background: white;
//       color: black;
//       padding: 0px;
//       height: unset
//     }
//   }
// }

// .form-control {
//   border-radius: 8px;
//   border: 2px solid #6D503B;
//   flex-flow: row wrap;
// }

.form-control {

  // STRUCTURE
  //  <div class="searchbar">
  //     <input type="text" placeholder="What are you looking for?">
  //     <button type="submit" </button>
  //     <i class="fa fa-search"></i>
  //  </div>

  display: flex;
  background: white;
  border: 2px solid $lighter-grey;
  border-radius: 50px;
  // width: 350px;
  height: 60px;
  justify-content: space-between;
  position: relative;

  input {
    color: black;
    font-family: Domine;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    border: none;
    flex-grow: 1;

    &:focus {
        outline:none;
    }
  }

  button {
    display: none;
  }

  i {
    color: $burgundy;
    width: 10%;
    padding: 2px;
    margin-right: -6px;
  }

  .search-pin {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-25%, -50%);
  }
}


.ap-icon-pin svg {
    fill: $burgundy;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-25%, -50%);
}

.ap-icon-clear svg {
  transform: translate(-100%, -50%);
}

.form-group {
  position: relative;

  .pin {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translate(-50%, 25%);
    z-index: 5;
  }
}


input.check_boxes {
  height: 10px;
  width: 10px;
}
.search_tags {
  .form-check {
    display: flex;
    // flex-wrap: wrap-reverse;
  }
  // label {
  //   margin-left: 10px;
  // }
}
.search_badges {
  .form-check {
    display: flex;
    // flex-wrap: wrap-reverse;
  }
  label {
    // margin-left: 10px;
  }
}
