.tag {
  font-family: Domine;
  display: flex;
  font-size: 14px;
  line-height: 14px;
  border-radius: 5px;
  color: black;
  text-align: center;
  width: auto;
  // padding: 10px;
  margin: 4px;
  // background-color: rgba(200,200,200,0.2);


  p {
    margin: auto 0px;
  }
  // For professions
  &.sage-femme {
    background-color: $tag-orange;
  }
  &.gynécologue {
    background-color: $tag-yellow;
  }
  &.généraliste {
    background-color: $tag-green;
  }

  // For tags
  &.IVG-friendly {
    background-color: $tag-yellow;
  }

  &.Endométriose {
      background-color: $tag-marroon;
    }
  &.DIU {
      background-color: #a9c762;
    }
  &.LGBT {
      background-color: $tag-pink;
    }
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
