.tag {
  font-family: Domine;
  font-size: 0.8rem;
  line-height: 14px;
  border-radius: 5px;
  color: black;
  text-align: center;
  width: auto;
  margin: 4px;
  padding-left: 4px;
  padding-right: 4px;


  p {
    margin: auto 0px;
  }
  // For professions
  &.sage-femme {
    background-color: $tag-marroon;
  }
  &.gynécologue {
    background-color: $tag-yellow;
  }
  &.généraliste {
    background-color: $tag-grey;
  }

  // For tags
  &.IVG-friendly {
    background-color: $tag-yellow;
  }

  &.Endométriose {
      background-color: $tag-marroon;
    }
  &.DIU {
      background-color: $tag-grey;
    }
  &.LGBT {
      background-color: $tag-pink;
    }
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
